extends layout

block content
	.container
		h2 Esperando oponente...
		img(src="/img/029.gif")

	script(src='https://cdn.socket.io/socket.io-1.4.5.js')
	script(src='http://code.jquery.com/jquery-1.11.1.js')
	script.
		var socket = io();

		socket.on('jugada', function(msg){
			location.reload();
		});