extends layout

block content
	.container
		h1(style='font-family: "Amatic SC", serif; font-size: 50px; text-align: center;') TRUCO
		hr
		h2 Estadisticas
		p Partidas jugadas: #{p}
		p Partidas ganadas: #{v}