extend layout 
block content

	h1 Lista de partidas

	hr

	form(role='form',action="/juegos", method="post")
		ul
			each i in j
				ol
					a(href='/configUsers?idPartida=#{i._id}')
						button.btn.btn-default(type="button") #{i.name}