extends layout

block content
	if (!user)
		.container
			h1(style='font-family: "Amatic SC", serif; font-size: 50px; text-align: center;') TRUCO
			hr
			h2 Hola...
			a(href='/login')
				button.btn.btn-default(type="button") Login
			br
			a(href='/register')
				button.btn.btn-default(type="button") Register
	if (user)
		.container
			h1(style='font-family: "Amatic SC", serif; font-size: 50px; text-align: center;') TRUCO
			hr
			h2 Hola, #{user.username}.
			a(href='/createNewGame')
				button.btn.btn-default(type="button") Create New Game :)
			br
			a(href="/juegos")
				button.btn.btn-default(type="button") Lista de juegos
			br
			a(href="/estadisticas")
				button.btn.btn-default(type="button") Estadisticas
			br
			a(href="/logout")
				button.btn.btn-default(type="button") Salir
