extends layout

block content
  if (!user)
    a(href="/login") Login
    a(href="/register") Register
  if (user)
    p You are currently logged in as #{user.username}
    a(href="/logout") Logout
    br
    a(href='/juegos') Lista de partidas disponibles
    br
    //opcion para crear una nueva partida
    a(href="/createNewGame")     Create New Game :)
