//vista para crear una nueva partida
extends layout

block content
  .container
    h1 Creando nueva partida
    br
    form(role='form', action="/createNewGame",method="post", style='max-width: 300px;')
      .form-group
          p Nombre de la partida
          input.form-control(type='text', name="nGame", placeholder='Nombre de la partida')
          br
          p Tu Nombre
          input.form-control(type='text', name="you", placeholder='tu Nombre')
          br
          p Nombre del oponente
          input.form-control(type='text', name="oponente", placeholder='Nombre del oponente')
      button.btn.btn-default(type='submit') Crear
      &nbsp;
      a(href='/')
        button.btn.btn-primary(type="button") Cancelar
