//vista para crear una nueva partida
extends layout

block content
  .container
    h1(style='font-family: "Amatic SC", serif; font-size: 50px; text-align: center;') TRUCO
    hr
    h2 Crear partida nueva.
    form(role='form', action="/createNewGame",method="post", style='max-width: 300px;')
      .form-group
          input.form-control(type='text', name="nGame", placeholder='Nombre de la partida')
          br
      button.btn.btn-default(type='submit') Crear
      &nbsp;
      a(href='/')
        button.btn.btn-default(type="button") Cancelar
